In [ ]:
a=20
b=10
print("addition",(a+b))
print("substraction",(a-b))
print("multiplicatrion",(a*b))
print("division",(a/b))

addition 30
substraction 10
multiplicatrion 200
division 2.0

In [ ]:
a=int(input("enter a value of a:"))
b=int(input("enter a value of b:"))
print("palease select your operation:\n1.add,\n2.substract,\n3.multiply,\n4.divide")
select=(input("enter your choice"))
if select=='1':
  print("add",(a+b))
elif select=='2':
  print("substract",(a-b))
elif select=='3':
  print("multiply",(a*b))
elif select=='4':
  print("divide",(a/b))
else:
  print("exit")

enter a value of a:3
enter a value of b:4
palease select your operation:
1.add,
2.substract,
3.multiply,
4.divide
enter your choice2
substract -1

In [ ]:
age=int(input("enter age"))
income=int(input("enter annual income"))
score=int(input("enter credit card score"))
min_age=18
min_income=30000
min_credit_score=650
if age>=min_age and income>=min_income and score>=min_credit_score:
  print("eligible")
else:
  print("not eligible")

In [ ]:
list = ["apple", "banana", "cherry"]
print(list[1])
list = ["apple", "banana", "cherry"]
print(list[-1])
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[2:5])

In [ ]:
#list methods

#append
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)
#clear
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)
#copy
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
print(fruits)
#count
fruits = ['apple', 'banana', 'cherry']
x = fruits.count("cherry")
print(fruits)
#extend
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)
#index
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)
#insert
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)
#pop
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
print(fruits)
#remove
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)
#reverse
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)
#sort
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)

In [ ]:
#tuple methods
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
int(x)

In [ ]:
for i in range(0,11):
  print(i)

In [ ]:
l=[95,83,72,65,58]
for i in range(0,len(l)):
  print(l[i])

In [ ]:
s="abc"
for i in range(0,len(s)):
  print(s[i],end=",")

In [ ]:
for i in range(10,15):
  print(i)

In [ ]:
for i in range(60,70):
  for j in range(1,10):
    print(i,j)

In [ ]:
num=int(input("enter a number:"))
if (num>0):
  print("multiplication table of:",num)
  for i in range(0,11):
    print(num,"*",i,"=",num*i)
else:
  print("enter value other than zero")

In [ ]:
num=int(input("enter a number:"))
for i in range(1,i+1):
  for j in range(1,5):
    print(i,"*",j,"=",i*j)

In [ ]:
inventory={
    "laptop":{
    "quantity":50,
    "price":999.99
},
"phones":{
    "quantity":100,
    "price":599.99
},
"tables":{
    "quantity":30,
    "price":399.99
},
}
print(inventory["laptop"]["price"])

In [ ]:
#acessing values
person={
    "name":"sneha",
    "age":21,
}
print(person['name'])
print(person.get('age','unknown'))
print(person.get('height','unknown'))

In [ ]:
#dictionary methods

#clear
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)
#copy
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.copy()
print(x)
#fromkeys
x = ('key1', 'key2', 'key3')
y = 0
dict = dict.fromkeys(x, y)
print(dict)
#get
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("model")
print(x)
#item
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.items()
print(x)
#keys
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.keys()
print(x)
#pop
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)
#popitem
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
print(car)
#setdefault
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("model", "Bronco")
print(x)
#update
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "White"})
print(car)
#values
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.values()
print(x)

In [ ]:

def fibonacci(n):
  a,b=0,1
  for i in range(n):
   print(a, end="")
   a,b=b,a+b
n=int(input("enter a number:"))
fibonacci(n)

In [ ]:
#fibonacci series
n=int(input("enter n num of terms"))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
  c=a+b
  print(c)
  a=b
  b=c

In [ ]:
n=5
for i in range (0,n):
  for j in range(i+1):
    print("*",end="")
  print()

In [ ]:
n=int(input("enter number of rows"))
for i in range(0,n):
    for j in range(n-i):
        print("*", end="")
    print()

In [ ]:
n=int(input("enter no of rows"))
for i in range(0,n):
   for j in range(n-i):
     print(" ",end="")
   for j in range(i):
     print("*",end="")
   for j in range(i+1):
     print("*",end="")
   print()

In [ ]:
n=int(input("enter no of rows"))
for i in range(0,n):
   for j in range(i+1):
     print(" ",end="")
   for j in range(n-i-1):
     print("*",end="")
   for j in range(n-i):
     print("*",end="")
   print()

In [ ]:
n=int(input("enter no of rows"))
for i in range(0,n-1):
   for j in range(n-i):
     print(" ",end="")
   for j in range(i):
     print("*",end="")
   for j in range(i+1):
     print("*",end="")
   print()
for i in range(0,n):
  for j in range(i+1):
    print(" ",end="")
  for j in range(n-i-1):
    print("*",end="")
  for j in range(n-i):
     print("*",end="")
  print()

In [ ]:

def evenodd(n):
  if n%2==0:
    return "even"
  else:
    return "odd"
n=int(input("enter a num:"))
n=evenodd(n)
if n=="even":
  print("hii")
else:
  print("byee")

In [ ]:
def calculate_average(*numbers):
  return sum(numbers)/len(numbers)
avg1=calculate_average(10,20,30)
avg2=calculate_average(5,15,25,35,45)
print(avg1)
print(avg2)

In [ ]:
def process_queue():
  queue=["Task 1", "Task 2", "Task 3", "Task4"]
  while len(queue)!=0:
    current_task=queue.pop(0)
    print("processing:",current_task)
    print("reamining task:",len(queue))
  print("all task are completed!")
process_queue()

In [ ]:
import random
def process_queue_random():
  queue=["Task 1", "Task 2", "Task 3", "Task 4"]
  while len(queue)!=0:
    random_index = random.randint(0,len(queue)-1)
    current_task = queue.pop(random_index)
    print("processing:",current_task)
    print("reamining task:",len(queue))
  print("all task are completed!")
process_queue_random()

In [ ]:
def simple_guessing_game():
  target=7
  guess=0
  attempts=0
  print("guess the number between 1 and 10!")
  while guess!=target and attempts!=15:
    import random
    guess=random.randint(1,10)
    attempts+=1
    if guess==target:
      print("correct")
      break
  print(f"game finished in {attempts} attempts")
simple_guessing_game()

In [ ]:
import numpy as np

# Creating a rank 1 Array
arr = np.array([4, 5, 6])
print(arr)

# Creating a rank 2 Array
arr = np.array([[7, 8, 9],
                [4, 5, 6]])
print(arr)

# Creating an array from tuple
arr = np.array((3, 2, 1))
print(arr)

In [ ]:
#indexing
import numpy as np

arr = np.array([[-1, 2, 0, 4],
                [4, -0.5, 6, 0],
                [2.6, 0, 7, 8],
                [3, -7, 4, 2.0]])

arr2 = arr[:2, ::2]
print ("first 2 rows and alternate columns(0 and 2):\n", arr2)

arr3 = arr[[1, 1, 0, 3],
                [3, 2, 1, 0]]
print ("\nElements at indices (1, 3), "
    "(1, 2), (0, 1), (3, 0):\n", arr3)

In [ ]:
#operations on numpy
import numpy as np

a = np.array([[1, 2, 3],
              [4, 5, 6]])

b = np.array([[6, 5, 4],
              [4, 2, 1]])

print ("Adding 3 to every element:", a + 3)
print ("\nSubtracting 3 from each element:", b - 3)
print ("\nmultiplying 3 from each element:", b * 3)
print ("\nSum of all array elements: ", a.sum())

In [ ]:
#reshaping
import numpy as np
array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,17,18,19,20])
print("Array : " + str(array))
n = array.size
N=4
M =5
reshaped1 = array.reshape((N, M))
print("First Reshaped Array : ")
print(reshaped1)
reshaped2 = np.reshape(array, (5, 4))
print("Second Reshaped Array : ")
print(reshaped2)

In [ ]:
import pandas as pd
data={
    'name':['Alice', 'Bob', 'Charlie', 'David','Eva'],
    'age':[25, 30, 35, 40, 22],
    'department':['sales', 'engineering', 'Hr', 'engineering', 'sales'],
    'salary':[50000, 60000, 55000, 70000, 52000]
}
df=pd.DataFrame(data)
print(df)

In [ ]:

print("last 2 rows:")
df.tail(2)

In [ ]:
print("column names:")
df.columns

In [ ]:
print("describe numerical columns:")
df.describe()

In [ ]:
print("people with salary > 50000:")
df[df['salary']>50000]

In [ ]:
print("sorted by age:")
df.sort_values(by='age')

In [ ]:
grouped = df.groupby('department')['salary'].mean()
grouped

In [ ]:
df['salary in lakhs'] = df['salary']/100000
df

In [ ]:
import matplotlib.pyplot as plt
years=[2019, 2020, 2021, 2022]
revenue=[100, 120, 130, 160]
plt.plot(years, revenue, marker='o', linestyle='-', color='blue')
plt.xlabel('Years')
plt.ylabel('Revenue (in crores)')
plt.grid(True)
plt.title('Company Revenue Over the Years')
plt.show()

In [ ]:
df

In [ ]:
department = df['department'].value_counts()
print(department)
department.plot(kind='bar',color='teal')
plt.xlabel('Department')
plt.ylabel('Count')
plt.title('Employee count by Department')
plt.show()

In [ ]:
ages= df['age']
print(ages)
plt.hist(ages, bins=5, color='coral', edgecolor='black')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Age Distribution')
plt.show()

In [ ]:
df.groupby('department').size().plot(kind='pie',autopct='%1.1f%%')
plt.ylabel("")
plt.title('Department proportion')
plt.show()

In [ ]:
import seaborn as sns
tips=sns.load_dataset('tips')
tips

In [ ]:
print("\nInfo about the tips dataset:")
tips.info()
print("\ndescription of the tips dataset:")
tips.describe(include='all')

In [ ]:
sns.pairplot(tips,hue='time')
plt.show()

In [ ]:
corr=tips.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x="day",data=tips,palette='pastel',hue='day')
plt.title("count of records by days")
plt.show()

In [ ]:
sns.boxplot(hue="day",y="total_bill", palette='muted',data=tips)
plt.title("boxplot of total bill by day")
plt.show()

In [ ]:
import pandas as pd
data={
    'name':['Alice', 'Bob', 'Charlie', 'David','Eva'],
    'age':[25, 30, 35, 40, 22],
    'department':['sales', 'engineering', 'Hr', 'engineering', 'sales'],
    'salary':[50000, 60000, 55000, 70000, 52000]
}
titanic=pd.DataFrame(data)
print(titanic)

In [ ]:
print("last 2 rows:")
titanic.tail(2)

In [ ]:
print("last 2 rows:")
titanic.tail(2)

In [ ]:
print("describe numerical columns:")
titanic.describe()

In [ ]:
print("people with salary > 50000:")
titanic[titanic['salary']>50000]

In [ ]:
print("sorted by age:")
titanic.sort_values(by='age')

In [ ]:
grouped = titanic.groupby('department')['salary'].mean()
grouped

In [ ]:
titanic['salary in lakhs'] = titanic['salary']/100000
titanic

In [ ]:
import matplotlib.pyplot as plt
years=[2019, 2020, 2021, 2022]
revenue=[100, 120, 130, 160]
plt.plot(years, revenue, marker='o', linestyle='-', color='blue')
plt.xlabel('Years')
plt.ylabel('Revenue (in crores)')
plt.grid(True)
plt.title('Company Revenue Over the Years')
plt.show()

In [ ]:
department = titanic['department'].value_counts()
print(department)
department.plot(kind='bar',color='teal')
plt.xlabel('Department')
plt.ylabel('Count')
plt.title('Employee count by Department')
plt.show()

In [ ]:
ages= titanic['age']
print(ages)
plt.hist(ages, bins=5, color='coral', edgecolor='black')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Age Distribution')
plt.show()

In [ ]:
titanic.groupby('department').size().plot(kind='pie',autopct='%1.1f%%')
plt.ylabel("")
plt.title('Department proportion')
plt.show()

In [ ]:
import seaborn as sns
titanic=sns.load_dataset('titanic')
titanic

In [ ]:
print("\nInfo about the tips dataset:")
titanic.info()
print("\ndescription of the tips dataset:")
titanic.describe(include='all')

In [ ]:
sns.pairplot(titanic,hue='age')
plt.show()

In [ ]:
corr=titanic.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x="age",data=titanic)
plt.title("count of records by age")
plt.show()

In [ ]:
sns.boxplot(x="age",y="class",data=titanic)
plt.title("boxplot of class by day")
plt.show()

In [ ]:
titanic.info()

In [ ]:
titanic.describe()

In [ ]:
titanic.isnull().sum()

In [ ]:
titanic.sort_values(by='age')

In [ ]:
grouped=titanic.groupby('class')['fare'].mean()
grouped

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 6))
plt.plot(titanic['age'], titanic['fare'], marker='o', linestyle='-', alpha=0.5)
plt.title('Fare vs Age on Titanic')
plt.xlabel('Age')
plt.ylabel('Fare')
plt.grid(True)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
a=titanic['age']
b=titanic["alive"]
plt.plot(a,b,marker='o')
plt.xlabel("age")
plt.ylabel("alive")
plt.title("survival")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
titanic.groupby('class').size().plot(kind='pie',autopct='%1.1f%%')
plt.title("class")
plt.show()

In [ ]:
ages=titanic['age']
print(ages)
plt.hist(ages,bins=5,color='orange',edgecolor='black')
plt.title("Age distribution")
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

In [ ]:
a=titanic['class'].value_counts()
print(a)
a.plot(kind='bar',color='blue')
plt.title("class range")
plt.xlabel("class")
plt.ylabel("range")
plt.show()

In [ ]:
import seaborn as sn
iris=sns.load_dataset('iris')
iris

In [ ]:
print("\nInfo about the tips dataset:")
iris.info()
print("\ndescription of the tips dataset:")
iris.describe(include='all')

In [ ]:
sns.pairplot(iris,hue='sepal_length')
plt.show()

In [ ]:
corr=iris.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x="sepal_width",data=iris)
plt.title("count of records by age")
plt.show()

In [ ]:
sns.boxplot(x="sepal_width",y="sepal_length",data=iris)
plt.title("boxplot of sepal_width by day")
plt.show()

In [ ]:
iris.info()

In [ ]:
iris.describe()

In [ ]:
iris.isnull().sum()

In [ ]:
iris.sort_values(by='sepal_length')

In [ ]:
iris.sort_values(by='sepal_width')

In [ ]:
grouped=iris.groupby('species')['petal_width'].mean()
grouped

In [ ]:
import pandas as pd
data={
    'name':['Alice', 'Bob', 'Charlie', 'David','Eva'],
    'age':[25, 30, 35, 40, 22],
    'department':['sales', 'engineering', 'Hr', 'engineering', 'sales'],
    'salary':[50000, 60000, 55000, 70000, 52000]
}
iris=pd.DataFrame(data)
print(iris)

In [ ]:
print("last 2 rows:")
iris.tail(2)

In [ ]:
print("column 2 rows:")
iris.columns

In [ ]:
print("distribution of numerical columns:")
iris.describe()

In [ ]:
print("people with salary > 50000:")
iris[iris['salary']>50000]

In [ ]:
print("sorted by age:")
iris.sort_values(by='age')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
iris = sns.load_dataset('iris')
a=iris['sepal_length']
b=iris['sepal_width']
plt.plot(a,b,marker='o')
plt.xlabel("sepal_length")
plt.ylabel("sepal_width")
plt.title("survival")
plt.grid("True")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
iris.groupby('species').size().plot(kind='pie',autopct='%1.1f%%')
plt.title("species")
plt.show()

In [ ]:
species=iris['species']
print(species)
plt.hist(ages,bins=5,color='orange',edgecolor='black')
plt.title("species distribution")
plt.xlabel("species")
plt.ylabel("Frequency")
plt.show()

In [ ]:
a=iris['species'].value_counts()
print(a)
a.plot(kind='bar',color='blue')
plt.title("species range")
plt.xlabel("species")
plt.ylabel("range")
plt.show()

In [ ]:
import pandas as pd
df=pd.read_csv ('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
df.iloc[1]

In [ ]:
df[['Age','Fare']]

In [ ]:
df.drop(columns= ['Age'], inplace=True)

In [ ]:
df.info()

In [ ]:
df.dropna(subset=['Embarked'],inplace=True)

In [ ]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Age'].fillna(df['Age'].median(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)
df

In [ ]:
df

In [ ]:
df = pd.get_dummies(df, columns=['Ticket'], drop_first=True)
df

In [ ]:
df = pd.get_dummies(df, columns=['Cabin'], drop_first=True)
df

In [ ]:
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)
df

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])
df

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df= scaler.fit_transform(df)

In [ ]:
df = pd.get_dummies(df, columns=['Name'], drop_first=True)
df

In [ ]:
df

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df= scaler.fit_transform(df)

In [ ]:
df

In [ ]:
import seaborn as sn
penguin=sns.load_dataset('penguins')
penguin

In [ ]:
print("\nInfo about the tips dataset:")
penguin.info()
print("\ndescription of the tips dataset:")
penguin.describe(include='all')

In [ ]:
sns.pairplot(penguin,hue='species')
plt.show()

In [ ]:
corr=penguin.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x="species",data=penguin)
plt.title("count of records by age")
plt.show()

In [ ]:
sns.boxplot(x="species",y="bill_length_mm",data=penguin)
plt.title("boxplot of species by day")
plt.show()

In [ ]:
penguin.info()

In [ ]:
penguin.describe()

In [ ]:
penguin.isnull().sum()

In [ ]:
penguin.sort_values(by='bill_length_mm')

In [ ]:
grouped=penguin.groupby('species')['bill_depth_mm'].mean()
grouped

In [ ]:
import matplotlib.pyplot as plt
a=penguin['species']
b=penguin["bill_length_mm"]
plt.plot(a,b,marker='o')
plt.xlabel("species")
plt.ylabel("bill_length_mm")
plt.title("survival")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
penguin.groupby('species').size().plot(kind='pie',autopct='%1.1f%%')
plt.title("species")
plt.show()

In [ ]:
species=penguin['species']
print(species)
plt.hist(species,bins=5,color='orange',edgecolor='black')
plt.title("species distribution")
plt.xlabel("species")
plt.ylabel("Frequency")
plt.show()

In [ ]:
a=penguin['species'].value_counts()
print(a)
a.plot(kind='bar',color='blue')
plt.title("species range")
plt.xlabel("species")
plt.ylabel("range")
plt.show()

In [ ]:
penguin['bill_length_mm'].fillna(penguin['bill_length_mm'].mean(),inplace=True)
penguin['bill_depth_mm'].fillna(penguin['bill_depth_mm'].median(),inplace=True)
penguin['flipper_length_mm'].fillna(penguin['flipper_length_mm'].mean(),inplace=True)
penguin['body_mass_g'].fillna(penguin['body_mass_g'].mean(),inplace=True)
penguin['sex'].fillna(penguin['sex'].mode()[0], inplace=True)
penguin.isnull().sum()

In [ ]:
penguin = pd.get_dummies(penguin, columns=['species', 'island', 'sex'], drop_first=True)
penguin

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
penguin_scaled = scaler.fit_transform(penguin)
penguin_scaled

In [ ]:
penguin

In [ ]:
import seaborn as sn
penguin=sns.load_dataset('penguins')
penguin

In [ ]:
print("\nInfo about the tips dataset:")
penguin.info()
print("\ndescription of the tips dataset:")
penguin.describe(include='all')

In [ ]:
penguin.info()

In [ ]:
penguin.describe()

In [ ]:
penguin.isnull().sum()

In [ ]:
penguin.sort_values(by='bill_length_mm')

In [ ]:
grouped=penguin.groupby('species')['bill_depth_mm'].mean()
grouped

In [ ]:
import matplotlib.pyplot as plt
a=penguin["flipper_length_mm"]
b=penguin["bill_length_mm"]
plt.plot(a,b,marker='o')
plt.xlabel("species")
plt.ylabel("bill_length_mm")
plt.title("survival")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
titanic.groupby('sex').size().plot(kind='pie',autopct='%1.1f%%')
plt.title("sex")
plt.show()

In [ ]:
bill_length_mm=penguin['bill_length_mm']
print(bill_length_mm)
plt.hist(bill_length_mm,bins=5,color='orange',edgecolor='black')
plt.title("bill_length_mm distribution")
plt.xlabel("bill_length_mm")
plt.ylabel("Frequency")
plt.show()

In [ ]:
a=penguin['bill_length_mm'].value_counts()
print(a)
a.plot(kind='bar',color='blue')
plt.title("bill_length_mm range")
plt.xlabel("bill_length_mm")
plt.ylabel("range")
plt.show()

In [ ]:
sns.pairplot(penguin,hue='species')
plt.show()

In [ ]:
corr=penguin.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x="flipper_length_mm",data=penguin)
plt.title("count of records by age")
plt.show()

In [ ]:
sns.boxplot(x="flipper_length_mm",y="bill_length_mm",data=penguin)
plt.title("boxplot of species by day")
plt.show()

In [ ]:
penguin['bill_length_mm'].fillna(penguin['bill_length_mm'].mean(),inplace=True)
penguin['bill_depth_mm'].fillna(penguin['bill_depth_mm'].median(),inplace=True)
penguin['flipper_length_mm'].fillna(penguin['flipper_length_mm'].mean(),inplace=True)
penguin['body_mass_g'].fillna(penguin['body_mass_g'].mean(),inplace=True)
penguin['sex'].fillna(penguin['sex'].mode()[0], inplace=True)
penguin.isnull().sum()

In [ ]:
penguin = pd.get_dummies(penguin, columns=['species', 'island', 'sex'], drop_first=True)
penguin

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
penguin_scaled = scaler.fit_transform(penguin)
penguin_scaled

In [ ]:
import seaborn as sn
diamonds=sns.load_dataset('diamonds')
diamonds

In [ ]:
print("\nInfo about the tips dataset:")
diamonds.info()
print("\ndescription of the tips dataset:")
diamonds.describe(include='all')

In [ ]:
diamonds.info()

In [ ]:
diamonds.describe()

In [ ]:
diamonds.isnull().sum()

In [ ]:
diamonds.sort_values(by='carat')

In [ ]:
grouped=diamonds.groupby('cut')['carat'].mean()
grouped

In [ ]:
print("first 1000 rows:")
diamonds.head(1000)

In [ ]:
sns.pairplot(diamonds,hue='cut')
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
diamonds = sns.load_dataset('diamonds')
sns.countplot(x="cut",data=diamonds)
plt.title("Count of Diamonds by price")
plt.show()

In [ ]:
corr=diamonds.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.boxplot(x="cut",y="carat",data=diamonds)
plt.title("boxplot of carat by day")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
a=diamonds['cut']
b=diamonds["carat"]
plt.plot(a,b,marker='o')
plt.xlabel("cut")
plt.ylabel("carat")
plt.title("survival")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
diamonds.groupby('cut').size().plot(kind='pie',autopct='%1.1f%%')
plt.title("Proportion of Diamond Cuts")
plt.show()

In [ ]:
cut=diamonds['cut']
print(ages)
plt.hist(ages,bins=5,color='orange',edgecolor='black')
plt.title("cut distribution")
plt.xlabel("cut")
plt.ylabel("Frequency")
plt.show()

In [ ]:
a=diamonds['cut'].value_counts()
print(a)
a.plot(kind='bar',color='blue')
plt.title("cut range")
plt.xlabel("cut")
plt.ylabel("range")
plt.show()

In [ ]:
da=titanic['class'].value_counts()
print(a)
a.plot(kind='bar',color='blue')
plt.title("class range")
plt.xlabel("class")
plt.ylabel("range")
plt.show()

In [ ]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
diamonds = pd.get_dummies(diamonds, columns=['cut', 'color', 'clarity'], drop_first=True)
scaler=StandardScaler()
diamonds_scaled = scaler.fit_transform(diamonds)
diamonds_scaled

In [ ]:
import pandas as pd
url ='https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv'
df = pd.read_csv(url)

In [ ]:
print("\nInfo about the tips dataset:")
df.info()
print("\ndescription of the tips dataset:")
df.describe(include='all')

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.sort_values(by='age')

In [ ]:
grouped=df.groupby('sex')['age'].mean()
grouped

In [ ]:
import matplotlib.pyplot as plt
a=df['age']
b=df["bmi"]
plt.plot(a,b,marker='o')
plt.xlabel("age")
plt.ylabel("bmi")
plt.title("survival")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
df.groupby('sex').size().plot(kind='pie',autopct='%1.1f%%')
plt.title("sex")
plt.show()

In [ ]:
age=df['age']
print(age)
plt.hist(age,bins=5,color='orange',edgecolor='black')
plt.title("Age distribution")
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

In [ ]:
age=df['age']
print(age)
plt.hist(age,bins=5,color='orange',edgecolor='black')
plt.title("Age distribution")
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

In [ ]:
import seaborn as sns
sns.pairplot(df,hue='sex')
plt.show()

In [ ]:
corr=df.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x="age",data=df)
plt.title("count of records by age")
plt.show()

In [ ]:
sns.boxplot(x="age",y="bmi",data=df)
plt.title("boxplot of age by day")
plt.show()

In [ ]:
df = pd.get_dummies(df, columns=['sex', 'smoker', 'region'], drop_first=True)
df

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df_scaled = scaler.fit_transform(df)
df_scaled

In [ ]:
import pandas as pd
url ='https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv'
df = pd.read_csv(url)
df

In [ ]:
print("\nInfo about the tips dataset:")
df.info()
print("\ndescription of the tips dataset:")
df.describe(include='all')

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.sort_values(by='age')

In [ ]:
grouped=df.groupby('sex')['age'].mean()
grouped

In [ ]:
sns.pairplot(df,hue='sex')
plt.show()

In [ ]:
corr=df.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x="age",data=df)
plt.title("count of records by age")
plt.show()

In [ ]:
sns.boxplot(x="sex",y="charges",data=df)
plt.title("boxplot of sex and charges")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
a=df['age']
b=df["children"]
plt.plot(a,b,marker='o')
plt.xlabel("age")
plt.ylabel("children")
plt.title("survival")
plt.show()

In [ ]:
age=df['age']
print(age)
plt.hist(age,bins=5,color='orange',edgecolor='black')
plt.title("Age distribution")
plt.xlabel("Age")
plt.ylabel("count")
plt.show()

In [ ]:
a=df['region'].value_counts()
print(a)
a.plot(kind='bar',color='blue')
plt.title("region wise count")
plt.xlabel("region")
plt.ylabel("count")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
df.groupby('region').size().plot(kind='pie',autopct='%1.1f%%')
plt.title("region")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
df.groupby('smoker').size().plot(kind='pie',autopct='%1.1f%%')
plt.title("smoker")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
url ='https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv'
df = pd.read_csv(url)
df.groupby('sex').size().plot(kind='pie',autopct='%1.1f%%')
plt.title("gender")
plt.show()

In [ ]:
df_encoded = pd.get_dummies(df, drop_first=True)
df_encoded.head()

In [ ]:
a=pd.get_dummies(df,drop_first=True)
a

In [ ]:
df_encoded =a
a

In [ ]:
x=df_encoded.drop('charges',axis=1)
y=df_encoded['charges']

In [ ]:
x

In [ ]:
y

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)
x

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
dframe=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
dframe

In [ ]:
import matplotlib.pyplot as plt
dframe.head(10).plot(kind='bar')
plt.title("comparing actual y vs predicted y")
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)

print("mean squared error:",mse)
print("root mean squared error:",rmse)

In [ ]:
import pandas as pd

url='https://raw.githubusercontent.com/Naresh312143/mahalingpur-python-ml/refs/heads/main/Salary_Data.csv'
df1 = pd.read_csv(url)
df1

In [ ]:
print("\nInfo about the tips dataset:")
df1.info()
print("\ndescription of the tips dataset:")
df1.describe(include='all')

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
df1.isnull().sum()

In [ ]:
df1.sort_values(by='Years of Experience')

In [ ]:
grouped=df1.groupby('Years of Experience')['Salary'].mean()
grouped

In [ ]:
sns.pairplot(df1,hue='Years of Experience')
plt.show()

In [ ]:
corr=df1.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x="Years of Experience",data=df1)
plt.title("count of year of experience")
plt.show()

In [ ]:
sns.boxplot(x="Years of Experience",y="Salary",data=df1)
plt.title("boxplot of year of experience")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
a=df1['Years of Experience']
b=df1["Salary"]
plt.plot(a,b,marker='o')
plt.xlabel("year of experience")
plt.ylabel("salary")
plt.title("survival")
plt.show()

In [ ]:
year_of_experience=df1['Years of Experience']
print(year_of_experience)
plt.hist(year_of_experience, bins=5,color='orange',edgecolor='black')
plt.title("year of experience")
plt.xlabel("year of experience")
plt.ylabel("Frequency")
plt.show()

In [ ]:
a=df1['Salary'].value_counts()
print(a)
a.plot(kind='bar',color='blue')
plt.title("salary range")
plt.xlabel("salary")
plt.ylabel("range")
plt.show()

In [ ]:
x=df1_encoded.drop('Salary',axis=1)
y=df1_encoded['Salary']

In [ ]:
x

In [ ]:
y

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)
x

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
df1['Years of Experience'].fillna(df1['Years of Experience'].mean(), inplace=True)
df1['Salary'].fillna(df1['Salary'].mean(), inplace=True)

In [ ]:

from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
dframe=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
dframe

In [ ]:
import matplotlib.pyplot as plt
dframe.head(10).plot(kind='bar')
plt.title("comparing actual y vs predicted y")
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
print("mean squared error:",mse)
print("root mean squared error:",rmse)

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/Naresh312143/mahalingpur-python-ml/refs/heads/main/Salary_Data.csv'
df1 = pd.read_csv(url)
df1.head()

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
df1['Years of Experience'].fillna(df1['Years of Experience'].mean(), inplace=True)

In [ ]:
df1['Salary'].fillna(df1['Salary'].mean(), inplace=True)

In [ ]:
x

In [ ]:
y

In [ ]:
x=df1[['Years of Experience']].values
y=df1[['Salary']].values

In [ ]:
from sklearn.preprocessing import StandardScaler

sc_x=StandardScaler()
sc_y=StandardScaler()
y_2d = y.reshape(-1, 1)
x_scaled = sc_x.fit_transform(x)
y_scaled = sc_y.fit_transform(y_2d)

In [ ]:
y_scaled = y_scaled.ravel()
y_scaled

In [ ]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf', C=100, epsilon=0.1)
svr.fit(x_scaled, y_scaled)

In [ ]:
y_pred_scaled = svr.predict(x_scaled)
y_pred = sc_y.inverse_transform(y_pred_scaled.reshape(-1, 1))

In [ ]:
y_pred_scaled

In [ ]:
y_pred

In [ ]:
import seaborn as sns
exercise=sns.load_dataset('exercise')
exercise

In [ ]:
print("\nInfo about the tips dataset:")
exercise.info()
print("\ndescription of the tips dataset:")
exercise.describe(include='all')

In [ ]:
exercise.info()

In [ ]:
exercise.describe()

In [ ]:
exercise.isnull().sum()

In [ ]:
exercise['id'].fillna(exercise['id'].mean(), inplace=True)

In [ ]:
exercise['diet'].fillna(exercise['diet'].mode(), inplace=True)

In [ ]:
exercise['pulse'].fillna(exercise['pulse'].mode(), inplace=True)

In [ ]:
exercise['time'].fillna(exercise['time'].mode(), inplace=True)

In [ ]:
exercise['kind'].fillna(exercise['kind'].mode(), inplace=True)

In [ ]:
sns.pairplot(exercise,hue='diet')
plt.show()

In [ ]:
corr=exercise.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.countplot(x="diet",data=exercise)
plt.title("count of diet")
plt.show()

In [ ]:
sns.boxplot(x="diet",y="pulse",data=exercise)
plt.title("boxplot of diet")
plt.show()

In [ ]:
exercise_encoded = pd.get_dummies(exercise, drop_first=True)
x=exercise_encoded.drop('pulse',axis=1)
y=exercise_encoded['pulse']

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)
x

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
dframe=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
dframe

In [ ]:
import matplotlib.pyplot as plt
dframe.head(10).plot(kind='bar')
plt.title("comparing actual y vs predicted y")
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
print("mean squared error:",mse)
print("root mean squared error:",rmse)

In [ ]:
import seaborn as sns
exercise=sns.load_dataset('exercise')
exercise.head()

In [ ]:
print("\nInfo about the tips dataset:")
exercise.info()
print("\ndescription of the tips dataset:")
exercise.describe(include='all')

In [ ]:
exercise.info()

In [ ]:
exercise.describe()

In [ ]:
exercise.isnull().sum()

In [ ]:
df_exercise=pd.get_dummies(exercise,drop_first=True)
df_exercise

In [ ]:
x=df_exercise[['diet_low fat', 'time_15 min','time_30 min', 'kind_walking','kind_running']]
y=df_exercise[['pulse']]

In [ ]:
x

In [ ]:
y

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
sc_y=StandardScaler()
x_scaled = sc_x.fit_transform(x)
y_scaled = sc_y.fit_transform(y)

In [ ]:
y_scaled=y_scaled.ravel()
y_scaled

In [ ]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf', C=100, epsilon=0.1)
svr.fit(x_scaled, y_scaled)

In [ ]:
y_pred_scaled = svr.predict(x_scaled)
y_pred = sc_y.inverse_transform(y_pred_scaled.reshape(-1, 1))

In [ ]:
y_pred_scaled

In [ ]:
y_pred

In [ ]:
import numpy as np
dframe=pd.DataFrame({'Actual':np.array(y).reshape(-1,),'Predicted':y_pred.reshape(-1,)})
dframe

In [ ]:
import matplotlib.pyplot as plt
dframe.head(10).plot(kind='bar')
plt.title("comparing actual y vs predicted y")
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y,y_pred)
rmse=np.sqrt(mse)
print("mean squared error:",mse)
print("root mean squared error:",rmse)

In [ ]:
import seaborn as sns
exercise=sns.load_dataset('exercise')
exercise

In [ ]:
exercise_encoded = pd.get_dummies(exercise, drop_first=True)
exercise_encoded

In [ ]:
x=exercise_encoded.drop('pulse',axis=1)
y=exercise_encoded['pulse']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.tree import DecisionTreeRegressor, export_text
regressor=DecisionTreeRegressor(max_depth=4, random_state=42)
regressor.fit(x_train,y_train)

In [ ]:
y_pred=regressor.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
print("mean squared error:",mse)
print("root mean squared error:",rmse)

In [ ]:
import pandas as pd
dframe=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
dframe.head(15)

In [ ]:
import matplotlib.pyplot as plt
dframe.head(10).plot(kind='bar')
plt.title("comparing actual y vs predicted y")
plt.show()

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/Naresh312143/mahalingpur-python-ml/refs/heads/main/Indian%20Unicorn%20startups%202023%20updated.csv'
df3 = pd.read_csv(url)
df3.head()

In [ ]:
print("Dataset shape:",df3.shape)
print("columns Names:")
print(df3.columns.tolist())
print("first 5 rows")
df3.head()

In [ ]:
print("Data types:")
print(df3.dtypes)
print("missing values:")
print(df3.isnull().sum())

In [ ]:
print("Duplicate rows:",df3.duplicated().sum())

In [ ]:
df3.info()

In [ ]:
df3.describe()

In [ ]:
df3.isnull().sum()

In [ ]:
df3.describe()

In [ ]:
df3.columns = df3.columns.str.strip()

In [ ]:
df3['Entry_Date'] = pd.to_datetime(df3['Entry'], format='%b/%Y')
df3['Entry_year'] = df3['Entry_Date'].dt.year
df3.head()

In [ ]:
df3['Valuation_Growth'] = df3['Valuation ($B)'] / df3['Entry Valuation^^ ($B)']

In [ ]:
df3['Primary_City'] = df3['Location'].str.split().str[0]

In [ ]:
df3['Investors_Count'] = df3['Select Investors'].str.count(',')+1
df3.head()

In [ ]:
a=df3['Valuation ($B)']
print(a)
plt.hist(df3['Valuation ($B)'],bins=5,color='orange',edgecolor='black')
plt.title("Valuation ($B) distribution")
plt.xlabel("Valuation ($B)")
plt.ylabel("Frequency")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.boxplot(df3['Valuation ($B)'])
plt.title('Valuation Boxplot')
plt.ylabel('Valuation ($B)')

plt.show()

In [ ]:
sector_counts = df3['Sector'].value_counts().sort_values(ascending=False).head(10)
print(sector_counts)
plt.pie(sector_counts.values, labels=sector_counts.index, autopct='%1.1f%%')
plt.title('Distribution of Unicorns by Sector', fontsize=16, fontweight='bold')

plt.show()

In [ ]:
top_sectors = sector_counts
print(top_sectors)
print("---------")
print(top_sectors.index)
bars = plt.bar(top_sectors.index, top_sectors.values, color='steelblue')
plt.title('Top 10 Sectors by Number of Unicorns', fontsize=14, fontweight='bold')
plt.xlabel('Sectors')
plt.ylabel('Number of Unicorns')
plt.xticks(rotation=45) # to align labels on x axis properly

plt.show()

In [ ]:
city_counts = df3['Primary_City'].value_counts().head(10)
bars = plt.bar(city_counts.index, city_counts.values, color='coral')
plt.title('Top Cities by Number of Unicorns', fontsize=14, fontweight='bold')
plt.xlabel('Cities')
plt.ylabel('Number of Unicorns')
plt.xticks(rotation=45)
plt.show()

In [ ]:
city_summary = df3.groupby('Primary_City').agg({
    'Valuation ($B)': ['count', 'sum', 'mean'],
    'Entry_year': ['min', 'max']
})
city_summary.columns = ['Count', 'Total_Valuation', 'Avg_Valuation', 'First_Entry', 'Last_Entry']
print(city_summary.head(10))

In [ ]:
yearly_entries = df3['Entry_year'].value_counts().sort_index()
bars = plt.bar(yearly_entries.index, yearly_entries.values, color='lightblue')
plt.title('Unicorns Created by Year', fontweight='bold')
plt.xlabel('Year')
plt.ylabel('Number of Unicorns')
plt.xticks(yearly_entries.index, rotation=45)

In [ ]:
avg_val_by_year = df3.groupby('Entry_year')['Valuation ($B)'].mean()
plt.bar(avg_val_by_year.index, avg_val_by_year.values, color='gold')
plt.title('Average Valuation by Entry Year', fontweight='bold')
plt.xlabel('Year')
plt.ylabel('Average Valuation ($B)')
plt.show()

In [ ]:
avg_valuation = df3.groupby('Sector')['Valuation ($B)'].mean().sort_values(ascending=False).head(10)
print(avg_valuation)
bars = plt.bar(avg_valuation.index, avg_valuation.values, color='lightcoral')
plt.title('Average Valuation by Sector (Top 10)', fontweight='bold')
plt.xlabel('Sector')
plt.ylabel('Average Valuation ($B)')
plt.xticks(rotation=45,ha='right') # to align labels on x axis properly
plt.show()

In [ ]:
city_valuation = df3.groupby('Primary_City')['Valuation ($B)'].mean().sort_values(ascending=False).head(10)
bars = plt.bar(city_valuation.index, city_valuation.values, color='teal')
plt.title('Average Valuation by City', fontweight='bold')
plt.xlabel('City')
plt.ylabel('Average Valuation ($B)')
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
plt.scatter(df3['Investors_Count'], df3['Valuation ($B)'], alpha=0.6, s=60, color='purple')
plt.title('Number of Investors vs Valuation', fontweight='bold')
plt.xlabel('Number of Investors')
plt.ylabel('Valuation ($B)')
plt.show()

In [ ]:
year_Investor = df3.groupby('Entry_year')['Investors_Count'].mean()
plt.plot(year_Investor.index, year_Investor.values, marker='o', linewidth=2, markersize=6, color='red')
plt.title('Average Investor Count by Entry Year', fontweight='bold')
plt.xlabel('Entry Year')
plt.ylabel('Average Number of Investors')
plt.show()

In [ ]:
print("Total Market Value:", df3['Valuation ($B)'].sum())
print("Average Valuation:", df3['Valuation ($B)'].mean())
print("Median Valuation:", df3['Valuation ($B)'].median())

In [ ]:
print("SECTOR Diversity")
print(len(df3['Sector'].unique()))

In [ ]:
print(len(df3['Primary_City'].unique()))

In [ ]:
print("No of unicons after 2020")
print((df3['Entry_year'] >= 2020).sum())

In [ ]:
print("\n5. INVESTMENT INSIGHTS:")
print("Average Investors per Unicorn:", df3['Investors_Count'].mean())
print("Average Valuation Growth:", df3['Valuation_Growth'].mean())

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/Naresh312143/mahalingpur-python-ml/refs/heads/main/Indian%20Unicorn%20startups%202023%20updated.csv'
df3 = pd.read_csv(url)
df3

In [ ]:
df3.isnull().sum()

In [ ]:
sns.pairplot(df3,hue='Sector')
plt.show()

In [ ]:
corr=df3.corr(numeric_only=True)
sns.heatmap(corr,annot=True, cmap="coolwarm")
plt.title("correlation matrix")
plt.show()

In [ ]:
sns.boxplot(x="Sector",y="Valuation ($B)",data=df3)
plt.title("boxplot of Sector")
plt.show()

In [ ]:
sns.countplot(x="Sector",data=df3)
plt.title("count of Sector")
plt.show()

In [ ]:
df3_encoded = pd.get_dummies(df3, drop_first=True)
df3_encoded

In [ ]:
x=df3_encoded.drop('Valuation ($B)',axis=1)
y=df3_encoded['Valuation ($B)']

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)
x

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
dframe=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
dframe

In [ ]:
import matplotlib.pyplot as plt
dframe.head(10).plot(kind='bar')
plt.title("comparing actual y vs predicted y")
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)
print("mean squared error:",mse)
print("root mean squared error:",rmse)

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/Naresh312143/mahalingpur-python-ml/refs/heads/main/Indian%20Unicorn%20startups%202023%20updated.csv'
df3 = pd.read_csv(url)
df3.head()

In [ ]:
x=df3[['Company','Sector','Entry Valuation^^ ($B)','Entry','Location','Select Investors']]
y=df3[['Valuation ($B)']]

In [ ]:
x=pd.get_dummies(x,drop_first=True)
y=pd.get_dummies(y,drop_first=True)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
sc_y=StandardScaler()
x_scaled=sc_x.fit_transform(x)
y_scaled=sc_y.fit_transform(y)

In [ ]:
y_scaled=y_scaled.ravel()
y_scaled

In [ ]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf', C=100, epsilon=0.1)
svr.fit(x_scaled, y_scaled)

In [ ]:
y_pred_scaled = svr.predict(x_scaled)
y_pred = sc_y.inverse_transform(y_pred_scaled.reshape(-1, 1))

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y,y_pred)
rmse=np.sqrt(mse)
print("mean squared error:",mse)
print("root mean squared error:",rmse)

In [ ]:
import numpy as np
dframe=pd.DataFrame({'Actual':np.array(y).reshape(-1,),'Predicted':y_pred.reshape(-1,)})
dframe

In [ ]:
import matplotlib.pyplot as plt
dframe.head(10).plot(kind='bar')
plt.title("comparing actual y vs predicted y")
plt.show()

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/Naresh312143/mahalingpur-python-ml/refs/heads/main/Indian%20Unicorn%20startups%202023%20updated.csv'
df3 = pd.read_csv(url)
df3.head()

In [ ]:
df3_encoded=pd.get_dummies(df3,drop_first=True)
df3_encoded

In [ ]:
x=df3_encoded.drop('Valuation ($B)',axis=1)
y=df3_encoded['Valuation ($B)']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.tree import DecisionTreeRegressor, export_text
regressor=DecisionTreeRegressor(max_depth=4, random_state=42)
regressor.fit(x_train,y_train)

In [ ]:
y_pred=regressor.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
print("mean squared error:",mse)
print("root mean squared error:",rmse)